div.editor_atto_content bdi,
div.editor_atto_content span[dir=auto] {
    /*text-decoration: underline wavy green;*/
    border-width: 0 2px;
    border-style: dotted;
    border-color: green;;
    padding: 0 2px;
    background-color: #f1f1f1;
}
